<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/favicon.ico" />
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/result.css">

</head>

<body>
    <main>
        <div class="search resultInput">
            <a href="/"><img src="/img/logo.png" alt="WoWoW"></a>
            <form action="search" method="get" class="form">
                <input type="search" name="q" id="q" value="<%=qury %>" />
                <input type="hidden" value="web" name="t" id="t" />
                <input type="hidden" value="desktop" name="device" id="device" />
                <input type="hidden" value="1" name="safesearch" id="safesearch" />
                <input type="hidden" value="en_IN" name="locale" id="locale" />
                <input type="hidden" value="4" name="uiv" id="uiv" />
                <button class="btn" type="submit"></button>
            </form>
        </div>
        <% for(var i=0; i <items.length; i++) { %>
            <div class="results">
                <!-- <img src="<%= items[i].favicon ? items[i].favicon : ''  %>"
                    alt="<%= items[i].favicon ? items[i].title : '' %>"> -->

                <a href="<%= items[i].link %>" class="title">
                    <h3>
                        <%= items[i].title %>
                    </h3>
                </a>
                <a href="<%= items[i].link %>" class="urlstyle">
                    <%= items[i].link %>
                </a>
                <p>
                    <%= items[i].snippet %>
                </p>
            </div>
            <% } %>
    </main>
</body>
<script>
    console.log(`
                                                                                      
  WWWW  WWWWW   WWW    OOOOOOO     WWWW  WWWWW   WWW    OOOOOOO     WWWW  WWWWW   WW  
  WWWW  WWWWW  WWWW   OOOOOOOOOO   WWWW  WWWWW  WWWW   OOOOOOOOOO   WWWW  WWWWW  WWW  
  WWWW  WWWWWW WWWW  OOOOOOOOOOOO  WWWW  WWWWWW WWWW  OOOOOOOOOOOO  WWWW  WWWWWW WWW  
  WWWW WWWWWWW WWWW  OOOOO  OOOOO  WWWW WWWWWWW WWWW  OOOOO  OOOOO  WWWW WWWWWWW WWW  
  WWWW WWWWWWW WWWW OOOOO    OOOOO WWWW WWWWWWW WWWW OOOOO    OOOOO WWWW WWWWWWW WWW  
   WWWWWWWWWWW WWW  OOOO      OOOO  WWWWWWWWWWW WWW  OOOO      OOOO  WWWWWWWWWWW WWW  
   WWWWWWW WWWWWWW  OOOO      OOOO  WWWWWWW WWWWWWW  OOOO      OOOO  WWWWWWW WWWWWWW  
   WWWWWWW WWWWWWW  OOOO      OOOO  WWWWWWW WWWWWWW  OOOO      OOOO  WWWWWWW WWWWWWW  
   WWWWWWW WWWWWWW  OOOOO    OOOOO  WWWWWWW WWWWWWW  OOOOO    OOOOO  WWWWWWW WWWWWWW  
   WWWWWWW WWWWWWW   OOOOO  OOOOO   WWWWWWW WWWWWWW   OOOOO  OOOOO   WWWWWWW WWWWWWW  
    WWWWW   WWWWW    OOOOOOOOOOOO    WWWWW   WWWWW    OOOOOOOOOOOO    WWWWW   WWWWW   
    WWWWW   WWWWW     OOOOOOOOOO     WWWWW   WWWWW     OOOOOOOOOO     WWWWW   WWWWW   
    WWWWW   WWWWW       OOOOOO       WWWWW   WWWWW       OOOOOO       WWWWW   WWWWW   
                                                                                      
    `)
</script>

</html>